<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:replace="/common/head_data :: head">
    <title>Title</title>
</head>
<body class="d-flex flex-column min-vh-100">
<header th:include="/common/header :: content"></header>

<h1 class="bg-light" th:text="#{common.menu.administrator.categories.list}">Список торговых мест</h1>

<div class="container-flex">
    <div class="row">
        <div class="d-flex">
            <table class="table table-hover table-striped bg-light">
                <thead>
                <tr>
                    <th scope="col" th:text="#{common.ID}">ID</th>
                    <th scope="col" th:text="#{common.category.name}">Наименование категории</th>
                    <th scope="col" th:text="#{common.category.description}">Описание</th>
                    <th scope="col" th:text="#{common.menu.operations}">Операции</th>
                </tr>
                </thead>
                <tbody>


                <tr th:each="category : ${allCategories}">
                    <th scope="row" th:text="${category.getId()}"></th>
                    <td th:text="${category.getName()}"></td>
                    <td th:text="${category.getDescription()}"></td>
                    <td>
                        <a role="button" class="btn btn-info btn-sm"
                           th:href="@{'/admin/categories/edit/' + ${category.getId()}}"
                        th:text="#{common.menu.administrator.categories.edit}">Редактировать</a>
                        <a role="button" class="btn btn-danger btn-sm"
                           th:href="@{'/admin/categories/delete/' + ${category.getId()}}"
                        th:text="#{common.menu.administrator.categories.delete}">Удалить</a>
                    </td>
                </tr>

                </tbody>
                <tfoot>
                <tr>
                    <th scope="col" th:text="#{common.ID}">ID</th>
                    <th scope="col" th:text="#{common.category.name}">Наименование категории</th>
                    <th scope="col" th:text="#{common.category.description}">Описание</th>
                    <th scope="col" th:text="#{common.menu.operations}">Операции</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<div class="bg-light d-grid gap-2">
    <a role="button" class="btn btn-success btn-lg"
       th:href="@{'/admin/categories/new'}"
    th:text="#{common.menu.administrator.categories.add}">Создать</a>
</div>

<footer th:replace="/common/footer :: content"></footer>
</body>
</html>
